<footer class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <h5>Hakkımızda</h5>
                <ul>
                    <li>Profesyonel eğitmenlerle ders imkanı sağlıyoruz.</li>
                    <li>Eğitimde zirvenin tek adresi !</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>Ödeme Adımları</h5>
                <ul>
                    <li>Kartla ödeme imkanımız bulunmaktadır.</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>İletişim</h5>
                <ul>
                    <li>E-mail: sinansaricayir@gmail.com</li>
                    <li>Telefon: 0534 874 44 44</li>
                </ul>
            </div>
        </div>
    </div>
</footer>